In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("taylor_swift_spotify_data.csv")
df.head()

                                          song_name        streams
0                                      Cruel Summer  1,915,261,702
1                                       Blank Space  1,759,798,923
2  I Don’t Wanna Live Forever (Fifty Shades Darker)  1,608,346,000
3                                         Anti-Hero  1,467,850,088
4                                      Shake It Off  1,353,175,547

In [3]:
df.shape

(500, 2)

In [4]:
def convert_streams_to_numeric(x):
    if isinstance(x, str):
        return int(x.replace(',', ''))
    else: 
        return x  # Handle other potential non-string values

df['streams'] = df['streams'].apply(convert_streams_to_numeric) 
df

                                             song_name     streams
0                                         Cruel Summer  1915261702
1                                          Blank Space  1759798923
2     I Don’t Wanna Live Forever (Fifty Shades Darker)  1608346000
3                                            Anti-Hero  1467850088
4                                         Shake It Off  1353175547
..                                                 ...         ...
495                    Fifteen - Instrumental with BGV      176919
496             How You Get The Girl - Karaoke Version      176906
497  We Are Never Ever Getting Back Together - Kara...      175520
498                      Back To December - Commentary      169668
499                       Picture To Burn - Commentary      168239

[500 rows x 2 columns]

In [5]:
def convert_names_to_str(x):
    if isinstance(x, object):
        return str(x)
    else: 
        return x 

df['streams'] = df['streams'].apply(convert_names_to_str) 
df

                                             song_name     streams
0                                         Cruel Summer  1915261702
1                                          Blank Space  1759798923
2     I Don’t Wanna Live Forever (Fifty Shades Darker)  1608346000
3                                            Anti-Hero  1467850088
4                                         Shake It Off  1353175547
..                                                 ...         ...
495                    Fifteen - Instrumental with BGV      176919
496             How You Get The Girl - Karaoke Version      176906
497  We Are Never Ever Getting Back Together - Kara...      175520
498                      Back To December - Commentary      169668
499                       Picture To Burn - Commentary      168239

[500 rows x 2 columns]

In [6]:
df.dtypes

song_name    object
streams      object
dtype: object

In [7]:
def merge_taylorsversion_variations(df):
    # Create an empty DataFrame to store merged data
    merged_df = pd.DataFrame(columns=['song_name', 'streams'])
    
    # Dictionary to store total streams for each song
    song_streams = {}
    
    for index, row in df.iterrows():
        # Get the song name without variations
        base_name = row['song_name'].split('(')[0].strip()
        
        # Check if base_name already exists in song_streams
        if base_name in song_streams:
            # If exists, add streams to existing count
            song_streams[base_name] += row['streams']
        else:
            # If doesn't exist, add to song_streams dictionary
            song_streams[base_name] = row['streams']
    
    # Populate merged_df with data from song_streams dictionary
    for song, streams in song_streams.items():
        merged_df = pd.concat([merged_df, pd.DataFrame({'song_name': [song], 'streams': [streams]})], ignore_index=True)
    
    return merged_df

#  usage:
merged_df = merge_taylorsversion_variations(df)
merged_df

                                             song_name              streams
0                                         Cruel Summer           1915261702
1                                          Blank Space  1759798923140785271
2                           I Don’t Wanna Live Forever           1608346000
3                                            Anti-Hero   146785008819357205
4                                         Shake It Off   135317554794777369
..                                                 ...                  ...
410                    Fifteen - Instrumental with BGV               176919
411             How You Get The Girl - Karaoke Version               176906
412  We Are Never Ever Getting Back Together - Kara...               175520
413                      Back To December - Commentary               169668
414                       Picture To Burn - Commentary               168239

[415 rows x 2 columns]

In [8]:
def merge_song_variations(df):
    # Create an empty DataFrame to store merged data
    merged_df = pd.DataFrame(columns=['song_name', 'streams'])
    
    # Dictionary to store total streams for each song
    song_streams = {}
    
    for index, row in df.iterrows():
        # Get the base song name
        base_name = row['song_name'].split('-')[0].split('(')[0].strip()
        
        # Check if base_name already exists in song_streams
        if base_name in song_streams:
            # If exists, add streams to existing count
            song_streams[base_name] += row['streams']
        else:
            # If doesn't exist, add to song_streams dictionary
            song_streams[base_name] = row['streams']
    
    # Populate merged_df with data from song_streams dictionary
    for song, streams in song_streams.items():
        merged_df = pd.concat([merged_df, pd.DataFrame({'song_name': [song], 'streams': [streams]})], ignore_index=True)
    
    return merged_df

#usage
merged_df = merge_song_variations(merged_df)
merged_df

,song_name,streams
0,Cruel Summer,19152617022119087912794062351240
1,Blank Space,17597989231407852714818230602045273329
2,I Don’t Wanna Live Forever,1608346000
3,Anti,1467850088193572052761370024613695150595876822...
4,Shake It Off,135317554794777369413587267086
...,...,...
236,Macavity,3345548
237,Beautiful Eyes,1697553
238,Don't Blame Me,580437
239,New Year's Day,275433
240,Welcome to New York,272754

In [9]:
#Number of unique song titles on spotify
len(merged_df['song_name'].unique())

241

In [11]:
merged_df.to_csv("clean_spotify.csv", index=False)